<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{username}}</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLinkActive="active" routerLink="about">关于我们</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="list">新闻列表</a>
                </li>
                <li>
                    <a href="javascript:;" (click)="goOut()">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--二级导航-->
<div class="container">
    <router-outlet></router-outlet>
</div>